.eruda-dev-tools{
  padding-top: 40px !important;
}

.eruda-nav-bar{
  height: 40px !important;
}

.eruda-nav-bar-item{
  height: 40px !important;
  line-height: 40px !important;
}

.eruda-dev-tools .eruda-tools .eruda-console .eruda-logs .eruda-log-item.eruda-warn{
  border-top: 1px solid #fff5c2;
  border-bottom: 1px solid #fff5c2;
  background-color: #fffbe6;
}

.eruda-warn .eruda-log-content{
  color: #5c3c00 !important;
}

.eruda-dev-tools .eruda-tools .eruda-console .eruda-logs .eruda-log-item.eruda-error{
  color: red;
  border-top: 1px solid #ffd6d6;
  border-bottom: 1px solid #ffd6d6;
  background-color: #fff0f0;
}

.eruda-error .eruda-log-content{
  color: red !important;
}

.eruda-log-item{
  padding: 8px 4px !important;
}

.eruda-icon-container{
  padding-left: 5px !important;
}

.eruda-log-content-wrapper{
  padding-left: 4px !important;
}

.eruda-log-content, .eruda-dev-tools .eruda-tools .eruda-console .eruda-js-input textarea{
  font-size: 14px !important;
  font-family: Menlo,Consolas,monospace !important;
  -webkit-font-smoothing: antialiased !important;
  line-height: 1.4em !important;
}

.eruda-dev-tools .eruda-tools .eruda-dom .eruda-dom-tree{
  font-size: 13px !important;
  font-family: Menlo,Consolas,monospace !important;
  -webkit-font-smoothing: antialiased !important;
  line-height: 1.4em !important;
}

.eruda-dev-tools .eruda-tools .eruda-dom .eruda-dom-tree .eruda-tree-item.eruda-expandable:before{
  border: none !important;
  left: -11px !important;
  top: 3px !important;
  border-left: 6px solid #727272 !important;
  border-top: 4.8px solid transparent !important;
  border-bottom: 4.8px solid transparent !important;
}

.eruda-dev-tools .eruda-tools .eruda-dom .eruda-dom-tree .eruda-tree-item.eruda-expandable.eruda-expanded:before{
  border: none !important;
  left: -13px !important;
  top: 5px !important;
  border-top: 6px solid #727272;
  border-left: 4.8px solid transparent;
  border-right: 4.8px solid transparent;
}