.eruda-dev-tools{
  padding-top: 40px !important;
}

.eruda-nav-bar{
  height: 40px !important;
}

.eruda-nav-bar-item{
  height: 40px !important;
  line-height: 40px !important;
}

.eruda-dev-tools .eruda-tools .eruda-console .eruda-logs .eruda-log-item.eruda-warn{
  border-top: 1px solid #fff5c2;
  border-bottom: 1px solid #fff5c2;
  background-color: #fffbe6;
}

.eruda-warn .eruda-log-content{
  color: #5c3c00 !important;
}

.eruda-dev-tools .eruda-tools .eruda-console .eruda-logs .eruda-log-item.eruda-error{
  color: red;
  border-top: 1px solid #ffd6d6;
  border-bottom: 1px solid #ffd6d6;
  background-color: #fff0f0;
}

.eruda-error .eruda-log-content{
  color: red !important;
}

.eruda-log-item{
  padding: 8px 4px !important;
}

.eruda-icon-container{
  padding-left: 5px !important;
}

.eruda-log-content-wrapper{
  padding-left: 4px !important;
}

.eruda-log-content, .eruda-dev-tools .eruda-tools .eruda-console .eruda-js-input textarea{
  font-size: 14px !important;
  font-family: Menlo,Consolas,monospace !important;
  -webkit-font-smoothing: antialiased !important;
  line-height: 1.4em !important;
}

.eruda-dev-tools .eruda-tools .eruda-dom .eruda-dom-tree, .eruda-style-wrapper, .eruda-computed-style{
  font-size: 13px !important;
  font-family: Menlo,Consolas,monospace !important;
  -webkit-font-smoothing: antialiased !important;
  line-height: 1.4em !important;
}

.eruda-dev-tools .eruda-tools .eruda-dom .eruda-dom-tree .eruda-tree-item.eruda-expandable:before{
  border: none !important;
  left: -11px !important;
  top: 3px !important;
  border-left: 6px solid #727272 !important;
  border-top: 4.8px solid transparent !important;
  border-bottom: 4.8px solid transparent !important;
}

.eruda-dev-tools .eruda-tools .eruda-dom .eruda-dom-tree .eruda-tree-item.eruda-expandable.eruda-expanded:before{
  border: none !important;
  left: -13px !important;
  top: 5px !important;
  border-top: 6px solid #727272;
  border-left: 4.8px solid transparent;
  border-right: 4.8px solid transparent;
}

.eruda-breadcrumb, .eruda-children, .eruda-attributes, .eruda-styles h2, .eruda-computed-style h2{
  display: none;
}

.eruda-style-wrapper{
  width: calc(50% - 5px);
  float: left;
}

.eruda-computed-style{
  width: calc(50% - 5px);
  display: inline-block;
  border-radius: 4px !important;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
  padding: 10px !important;
  margin: 0 !important;
  margin-top: 10px !important;
}

.eruda-dev-tools .eruda-tools .eruda-elements .eruda-computed-style .eruda-table-wrapper{
  /* max-height: calc(56vh - 10px) !important; */
}